EMAIL_DATASOURCE_URL=jdbc:postgresql://localhost:5436/email
EMAIL_DATASOURCE_USERNAME=postgres
EMAIL_DATASOURCE_PASSWORD=change-me
EMAIL_SERVER_PORT=8081

RABBITMQ_HOST=your-rabbitmq-host
RABBITMQ_PORT=5671
RABBITMQ_USERNAME=your-rabbitmq-username
RABBITMQ_PASSWORD=your-rabbitmq-password
RABBITMQ_VIRTUAL_HOST=your-rabbitmq-vhost
RABBITMQ_SSL_ENABLED=true

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=your-email@gmail.com
SMTP_DEBUG=false
