target/
*/target/

.mvn/wrapper/maven-wrapper.jar

.idea/
.vscode/
*.iws
*.iml
*.ipr

.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

build/
dist/

.env
.env.*
!.env.example
!**/.env.example
application-local.properties
application-*.local.properties
*.log
.DS_Store
